#page {
  width:100%; /* 2 */
  margin: 0 auto;
  min-height:97vh;
  display:-webkit-flex; /* 3 */
  display:flex;
  -webkit-flex-direction:column; /* 3 */
  flex-direction:column;
}

/**Button*/

.button {
  text-decoration: none;
  color: white;
  background: #4285F4;
  padding: 30px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

/** Header */
.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexEnd {
    justify-content: flex-end;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: black;
}

/** CONTENT */

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;    
    flex-grow: 1;
    justify-content: center;

}

.flex-item {
    text-align: center;
    justify-content: space-between;
}

#img {
    width: 272px;
    height: 92px;
    display: block;
}


#site-search {

  box-shadow: 1px 1px rgba(0,0,0,0.5);
  display: flex;
  width: 584px;
  height: 34px;
  justify-content: center;
}

#site-search:hover {

  box-shadow: 1px 3px rgba(0,0,0,0.5);
  display: flex;
  width: 584px;
  height: 34px;
  justify-content: center;
}
/** Footer **/

.ie-stickyFooter { /* 1 */
  display:flexbox;
  flex-direction:column;
  bottom: 0%;
  position: absolute;
  width: 99%;

}

.flexContainer2 {
    display: flex;
}
.flexItem2 {
    flex: 1;
   flex-direction: row;
  }
.flexStart2 {
  display: flex;
  justify-content: flex-start;
}
.flexEnd2 {
    justify-content: flex-end;
}
.greyBackground {
    background: #F2F2F2;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
}
.nav2 {
    list-style: none;
}
.nav2 a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: #5F6368;
    font-family: Arial;


}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}