
/* ajouter section nav*/
nav {
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
nav :hover { text-decoration: underline;
	cursor: pointer;
}

.Bloc { text-align: center;

}
img {
	widht: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*ajouter div align; center*/
/*input decoration*/
input {
  display: block;
	box-sizing: border-box;
	margin-left: 50%;
	width: 500px;
	height: 40px;
}
input:hover {
	border-raduis: 2px;
	box-shadow: 2px, 4px, 6px, 3px;

/* button background
background- */

/* footer */
.footer {
       	position: fixed;
	bottom: 0px;
	height: 40px;
	color: grey
	background: #a9a9a9;
	text-decoration: underline;
	cursor: pointer;

}
.footerL {
	font-size: 1.2em;
}
.footerR {
	font-size: 0.8em;
}
