#page {
	width:100%; /* 2 */
	min-height:100vh;
	display:-webkit-flex; /* 3 */
	display:flex;
	-webkit-flex-direction:column; /* 3 */
	flex-direction:column;
}

/** Header */
.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexEnd {
    justify-content: flex-end;
}
.blueBackground {
    background: lightskyblue;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: black;
}

.flex-container {
    height: 60%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
    text-align: center;
}

.img {
	width: 200px;
	display: block;
}

/** Footer **/

.ie-stickyFooter { /* 1 */
	display:-ms-flexbox;
	-ms-flex-direction:column;
}

.flexContainer2 {
    display: flex;
}
.flexItem2 {
    flex: 1;
}
.flexStart2 {
    justify-content: flex-start;
}
.flexEnd2 {
    justify-content: flex-end;
}
.greyBackground {
    background: grey;
}